{% extends "base.html" %}

{% block left %}
<div class="container">
<p><h1>{{row.summary}}</h1></p>

</div>   
<p></p>

   
    <div class="container">

  <form action={{url_for('regulation_view')}} method="POST">
      <input type="text" class="form-control"  name="id" value="{{row.id}}" hidden>
    <p class="card-title" hidden ><span>  Id : </span>{{row.id}}</p>
      <p class="card-title" ><span> <b> Tla:</b> </span>{{row.tla}}</p>
    <p class="card-title" hidden><span>  Summary:</b>  </span>{{row.summary}}</p>
    <p class="card-title" ><span>  <b> Description:</b>  </span>{{row.description}}</p>
    <p class="card-title" ><span>  <b> Solution:</b>  </span>{{row.solution}}</p>
    <p class="card-title" ><span>  <b> Reporter:</b>  </span>{{row.reporter}}</p>
    <p class="card-title" ><span>  <b> Enabled:</b>  </span>{{row.enabled}}</p>
    <p class="card-title" ><span>  <b> Begin_time:</b> </span>{{row.begin_time}}</p>
    <p class="card-title" ><span>  <b> End_time:</b>  </span>{{row.end_time}}</p>
    <p class="card-title" ><span>  <b> Key_words:</b>  </span>{{row.key_words}}</p>
   

<p> <button class="btn btn-primary" type="submit" name="cancel">Cancel</button> </p>
    </form>
    
    
</div>   

 
{% endblock %}