<!--
####################################################################
##########htlm page: 包含3个页面：主页面，申请页面，审批页面########
####################################################################

########## 主页面 ########
-->
<!DOCTYPE html>
<html lang="en">

  <body>
    <h3>{{result.method}}</h3>
	
	<p>{{result}}</p>
    {% if result.method=="POST" %}
    {% for key,value in result.form.items() %}
    <p>
    {{key}}:{{value}}<br>
    
    </p>
    {% endfor %}

    {% endif %}



  <p> ----Others----</p>
  {{ data }}

  </body>
</html>