{% extends "base.html" %}

{% block left %}
<div class="container">

  <form action={{url_for('tla_query')}} method="POST">
   <span class="btn btn-outline-dark">TLA ></span></span>


      <input type="text" id="tlaa" name="query_string" hidden="hidden" style="background-color: #e3f2fd; width:200px;" >


      <select name="tla_s" id="tla_s" style="background-color: #e3f2fd; color:red; width: 200px;" onchange="this.nextSibling.value=this.value"  >
       {% for tla in tlas %}
        <option value="{{ tla }}" > {{ tla }}</option>
        {% endfor %}
       <option selected></option>
       </select><input name="tla" style="width:100px;position:relative;left:0px;">

      <button class="btn btn-primary" type="submit" id="button-query" name="query">Query</button>
      <button class="btn btn-primary" type="submit" id="button-query" name="query_all">QueryAll</button>
      <button class="btn btn-primary" type="submit" id="button-addnew" name="addnew">Add</button>
  <p><h1>TLA Details</h1></p>

    </form>
    
    
</div>
<div style=" overflow-y:auto; overflow-x:auto;height:750px;">
{% for row in rows %}
<form action={{url_for('tla_query')}} method="POST">

<div hidden='hidden'>
<input type="text" name="id" value="{{row.id}}">
<input type="text" name="tla" value="{{row.tla}}">
<input type="text" name="customer_name" value="{{row.customer_name}}">
<input type="text" name="solution" value="{{row.solution}}">
<input type="text" name="tl" value="{{row.tl}}">
<input type="text" name="project_code" value="{{row.project_code}}">
<input type="text" name="runbook_url" value="{{row.runbook_url}}">
</div>
<div class="card container">
  <div class="card-header">
    Details of {{row.tla}}
  </div>
  <div class="card-body">
    <p class="card-text" hidden='hidden'><span>id: </span>{{row.id}}</p>
    <h5 class="card-title">TLA Name: {{row.tla}}</h5>
    <p class="card-text"><span>Customer: </span>{{row.customer_name}}</p>
    <p class="card-text"><span>Solution: </span>{{row.solution}}</p>
    <p class="card-text"><span>Teach Lead: </span>{{row.tl}}</p>
    <p class="card-text"><span>Project Code: </span>{{row.project_code}}</p>
    <p class="card-text"><span>Runbook URL: </span><a href="{{row.runbook_url}}" target="view_window">{{row.runbook_url}}</a></p>
    <button class="btn btn-primary" type="submit" id="button-modify" name="modify">Modify</button>
    <button class="btn btn-primary" type="submit" id="button-remove" name="remove">Remove</button>
  </div>
</div>

</form>
{% endfor %}
</div>
{% endblock %}