<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" >
<title>SSO ETL Monitoring</title>
</head>
<body >
<div >
 
    
<div class="container">
<div name="Declare" style="color:red;">
 <div >
 <p style="text-align:center;"><h2>Compliance</h2></p> 
 <p ><h4>-----You must comply with the following points on your duty-----<p><h4>
 </div>
 <ol>
<li><span> Meeting SLA target time is of the first importance. You must have the issue addressed sooner to ensure SLA. If you are not sure about something, please contact your manager or USOncall/Tech Lead immediately.  </span></li>

<li><span> Immediately respond in DM JIRA or email when issue occurs; beyond 15 minutes is unacceptable.  </span></li>

<li><span> Check each ENV status periodically, the regular interval should be less than 30 minutes.  </span></li>

<li><span> For the CRITICAL issue, open a conversation with team to discuss.  </span></li>

<li><span> Please let another member to peer check when you take actions on SEV1 ENV.  </span></li>

<li><span> The status report should be sent out to team three times at 10pm/12am/3am EST every day.  </span></li>

<li><span> Please keep the future task in the status email until it is done  </span></li>

<li><span> Never decide to kill Merch int jobs by yourself, please check with US Oncall or Tech Lead.  </span></li>

<li><span> When you mail with customer, please always copy to <u>Ken Persson, &lt;TAM&gt;,&lt;Tech Lead&gt;, &lt;US Oncall&gt;, CRDSSOONCALL, Pune SSO AMS &lt;punessoams@wnt.sas.com&gt;  </u></span></li>

<li><span> When you hand off to US Oncall, please have an email to US ONCALL if there is thing to hand over to him/her, always copying to <u>Ken Persson, CRDSSOONCALL.</u> </span></li>
</ol>
</div>

<div name="CheckList">
<p color="red"><h4>-----Check List-----<p><h4>
<ul name=checklist_ul>
<li><span> Have you respond/reply Cary, customer or other parties request or questions(JIRA, EMAIL,SN,..)?(YES/NO) </span><br/>
No<p><p/>
</li>

<li><span> Confirmed there was no warning notification without handling?(YES/NO) </span><br/>
No<p><p/>
</li>

<li><span> Tickets (JIRA, SN) assigned to [CRD,AMS, AMS Pune] </span>
   <font color="blue",size="3">
   <ul>
    <li><span>JIRA Tickets</span></li>   
       <ol>
        
          <li><span>  None </span></li>
        
   </ol><p></p>
    <li><span>ServiceNow Tickets</span></li>
         <ol>
         
            <li><span>  None </span></li>
        
         </ol><p></p>
   </ul>
   </font>
</li>
<li><span> Walmart Small File tickets + Walmart Duplicate Files </span>
          <ol>
         
            <li><span>  None </span></li>
        
        </ol><p></p>
</li>

<li><span> Check Incident Dashboard </span><br/>
<a target="_blank" href="https://www.ondemand.sas.com/jira/secure/Dashboard.jspa?selectPageId=20448">https://www.ondemand.sas.com/jira/secure/Dashboard.jspa?selectPageId=20448</a>
         <ol>
         <li><span>Add right label (Lev0, Lev1,Lev2,Lev3) in the ticket</span></li>
         <li><span>Clean up the ticket as you can</span></li>
         </ol>
<p></p>
</li>




<li><span> Other Tasks (From Email, IM, call, etc.) </span>
         <ol>
         <li><span>Shift report deliver daily</span></li>
         <li><span>AMS dashboard update daily</span></li>
         
         
        </ol><p></p>

</li>
</ul>

</div>
<div name="TlaStatus">
  <p color="red"><h4>-----Tla Status-----<p><h4> 
 <table border="1" cellspacing="0" cellpadding="0"> 
 <tr><b><td rowspan="1" >Solution Group</td>
<td rowspan="1" >Client</td>
<td rowspan="1" >ENV.</td>
<td rowspan="1" >Status</td>
<td rowspan="1" >Comments</td>
<td rowspan="1" >Assignee</td>
</b></tr>

 <tr><td rowspan="2" >Merchandise Planning</td>
<td rowspan="2" >BLS</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  bgcolor="lime"   >Running</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >TEST</td>

 <td rowspan="1"  >Not Started</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="16" >Merchandise Intelligence</td>
<td rowspan="1" >ACS</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  bgcolor="lime"   >Running</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >AMK</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >Done</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >AMM</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >Done</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >AMU</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >Done</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >AMV</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >Done</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >ASK</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >Done</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >ASM</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >Done</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >ASU</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >Done</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >ASV</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >Done</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >ANFSO</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  bgcolor="lime"   >Running</td>
<td rowspan="1" ></td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="2" >CSP</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  bgcolor="lime"   >Running</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >DEV</td>

 <td rowspan="1"  bgcolor="lime"   >Running</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="3" >JCP</td>
<td rowspan="1" >PRD</td>

 <td rowspan="1"  >Done</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >PSP</td>

 <td rowspan="1"  >No Activity</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >UAT</td>

 <td rowspan="1"  >No Activity</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >NSO</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Activity</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >Customer Intelligence</td>
<td rowspan="1" >CHO</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  bgcolor="lime"   >Running</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >Inventory Optimization</td>
<td rowspan="1" >MRFRAS</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  bgcolor="lime"   >Running</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="2" >Fraud Framework</td>
<td rowspan="1" >BMI</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >ESR</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="8" >Anti-Money Laundering</td>
<td rowspan="1" >WBR</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >WCA</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >WPN</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >WIN</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >WCL</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >WMX</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >WZA</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >WUK</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="2" >North Carolina Government(NCG/GDAC)</td>
<td rowspan="1" >NCF</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >NCJ</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="7" >VA</td>
<td rowspan="1" >CMA</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >TPB</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >CSE</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >MCD</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >UNV</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="2" >UMS</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >DEV</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="3" >High Performance Risk</td>
<td rowspan="3" >STR</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >QA</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >DEV</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhong</td>
</tr>

 <tr><td rowspan="1" >Forcasting</td>
<td rowspan="1" >HRS</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>

 <tr><td rowspan="1" >Custom Solution</td>
<td rowspan="1" >DIG</td>
<td rowspan="1" >PROD</td>

 <td rowspan="1"  >No Error</td>
<td rowspan="1" >None</td>
<td rowspan="1" >Zhiqiang</td>
</tr>
</table>

</div>


</div>
 
	</div>

</body>


</html>
